*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-areas:
    "cabecera cabecera cabecera cabecera"
    "info info info info"
    "info info info info"
    "img img img img"
    "fin fin fin fin"
    ;
    font-family: 'Montserrat', sans-serif;
}
.cabeza {
    grid-area: cabecera;
    background-color: rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    /* background-color: rgb(44, 43, 43); */
    width: 100%;
    height: 100px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: fixed;
    top:0;
    /* z-index: 6; */
}
header img{
    width: 8%;
}
.navegador{
    display: flex;
    margin-right: 20px;
}
.listas{
    display: flex;
    list-style: none;
}
.listas li a{
    color: green;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 5px;
}
.listas li a:hover{
    color: rgba(218, 230, 218, 0.904);
}
.menu{
    grid-area: info;
}
.contenido{
    grid-area: info;
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px;
    border-radius: 4px;
}
.contenido h1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.contenido p{
    font-size: 20px;
    margin-bottom: 15px;
}
.contenido h2{
    margin-top: 20px;
    margin-bottom: 15px;
}
.galeriaimg{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.fotos{
    grid-area: img;
}
.pie{
    grid-area: fin;
}
footer{
    background-color: rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer div a{
    color:rgba(5, 107, 5, 0.904);
}
.facebook:hover{
    color: #3B5998;
}
.instagram:hover{
    color: #833AB4;
}
.quienessomos{
    width: 100%;
    height: 450px;
}
h1{
    font-size: 50px;
    width: 100%;
    color: rgb(26, 1, 1);
    text-align:center ;
    background-color: rgba(5, 107, 5, 0.904);
    background-repeat: space;
}
p{
    font-size: 25PX;
    font-style: italic;
    text-align: left;
    position: relative;
}
h2{
    font-size: 35PX;
    font-style: BOLD;
    text-align: center;
    background-image:radial-gradient(rgba(5, 107, 5, 0.904), rgba(5, 107, 5, 0.295) );
}
.coment{
    display: flex;
    text-align: center;
    justify-content: center;
}
.comentarios{
    width: 33%;
    height: 350px;
    object-fit: cover;
}
@media only screen and (min-width:620px) and (max-width:1023px){
    .galeriaimg{
        width: 100%;
        height: 450px;
        object-fit:cover;
    }
}