.carousel{
    width: 400px;
    height: 400px;
}
.galeriaimg{
    object-fit: cover;
}
footer div a{
    color:rgba(5, 107, 5, 0.904);
}
.facebook:hover{
    color: #3B5998;
}
.instagram:hover{
    color: #833AB4;
}
.boton{
    background-color: darkgrey;
}