body{
    background-color:$fondo-pagina;
}
.carousel {
    width: 35vh;
    height: 35vh;
}
.carousel-img {
    width: 210px;
    height: 210px;
    object-fit: cover;
}
footer {
    background-color: map-get($pie , bg );
    @include flex(column, center, center);
    a {
    color: map-get($pie , color );
    }
}
.facebook:hover {
    color: #3B5998;
}
.instagram:hover {
    color: #833AB4;
}